<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
   
    <link rel="stylesheet" href="{% static 'assets/css/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static  'assets/css/inscription.css' %}">
    <title>Radios | AUTH</title>
</head>

<body>

    <div class="container" id="container">
        <div class="form-container sign-up">
            <form method="POST" action="{% url 'inscription' %}">
                {% csrf_token %}
                <h1>signup</h1>
                <div class="social-icons">
                    <a href="#" class="icon"><i class="fa-brands fa-google-plus-g"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-github"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-linkedin-in"></i></a>
                </div>
                <span>Or use your email for registeration</span>
                <input type="text" placeholder="First Name" name="first_name" required>
                <input type="text" placeholder="Last Name", name="last_name" required>
                <input type="email" placeholder="example@gamil.com", name="email" required>
                <input type="password" placeholder="Password", name="password" required>
                <button type='submit'>Sign Up</button>

                <div aria-live="polite" aria-atomic="true" class="position-fixed top-0 end-0 p-3" style="z-index: 1080;">
                    {% for message in messages %}
                        <div class="toast align-items-center text-bg-{{ message.tags|default:"primary" }} border-0 mb-2" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="4000">
                        <div class="d-flex">
                            <div class="toast-body">
                            {{ message }}
                            </div>
                            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Fermer"></button>
                        </div>
                        </div>
                    {% endfor %}
                </div>
            </form>
        </div>
        <div class="form-container sign-in">
            <form method="post" action="{% url 'connexion' %}">
                {% csrf_token %}
                <h1>Sign In</h1>
                <div class="social-icons">
                    <a href="#" class="icon"><i class="fa-brands fa-google-plus-g"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-github"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-linkedin-in"></i></a>
                </div>
                <span>or use your email password</span>
                <input type="email" placeholder="Email", name="email" required>
                <input type="password" placeholder="Password", name="password" required>
                <div aria-live="polite" aria-atomic="true" class="position-fixed top-0 end-0 p-3" style="z-index: 1080;">
                    {% for message in messages %}
                        <div class="toast align-items-center text-bg-{{ message.tags|default:"primary" }} border-0 mb-2" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="4000">
                        <div class="d-flex">
                            <div class="toast-body">
                            {{ message }}
                            </div>
                            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Fermer"></button>
                        </div>
                        </div>
                    {% endfor %}
                </div>
                <a href="#">Forget Your Password?</a>
                <button type = 'submit'>Sign In</button>
            </form>
        </div>
        <div class="toggle-container">
            <div class="toggle">
                <div class="toggle-panel toggle-left">
                    <h1>Welcome Back!</h1>
                    <p>Enter your personal details to use all of site features</p>
                    <button class="hidden" id="login">Sign In</button>
                </div>
                <div class="toggle-panel toggle-right">
                    <h1>Hello, Friend!</h1>
                    <p>Register with your personal details to use all of site features</p>
                    <button class="hidden" id="register">Sign Up</button>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static  'assets/js/inscription.js' %}"></script>
</body>

</html>