{% extends 'boutique/base.html' %} {% load static %} {% block title %}
<title>RADIOS | NEWS</title>
{% endblock %} 

{% block coprs %}

            <!-- breadcrumb start -->
            <section class="breadcrumb-area">
                <div class="container">
                    <div class="radios-breadcrumb breadcrumbs">
                        <ul class="list-unstyled d-flex align-items-center">
                            <li class="radiosbcrumb-item radiosbcrumb-begin">
                                <a href="index.html"><span>Home</span></a>
                            </li>
                            <li class="radiosbcrumb-item radiosbcrumb-end">
                                <span>News</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
            <!-- breadcrumb end -->

            <!-- blog start -->
            <section class="blog pb-90">
                <div class="container">
                    <div class="row mt-none-50">
                        <div class="col-xl-9 col-lg-8">
                            <div class="blog-post-wrap mt-50">
                                <article class="tx-post-item tx-post format-standard">
                                    <div class="post-thumb">
                                        <a href="news-single.html"><img src="{% static 'assets/img/news/img_07.jpg' %}" alt=""></a>
                                        <div class="post-date">
                                            24 <br> <span>Feb</span>
                                        </div>
                                    </div>
                                    <div class="post-content mt-25">
                                        <ul class="post-tags post-tags--2 ul_li mb-15">
                                            <li><span># Tags</span></li>
                                            <li><a href="#!">Links</a></li>
                                            <li><a href="#!">Brave</a></li>
                                            <li><a href="#!">Brave</a></li>
                                        </ul>
                                        <h2 class="post-title border-effect"><a href="news-single.html">Finally found a work computer setup That’s practically perf</a></h2>
                                        <ul class="post-meta ul_li mt-10">
                                            <li>
                                                <div class="post-meta__author ul_li">
                                                    <div class="avatar">
                                                        <img src="{% static 'assets/img/avatar/img_02.jpg' %}" alt="">
                                                    </div>
                                                    <span>Alaxandar / <span class="year">4 year</span></span>
                                                </div>
                                            </li>
                                            <li><i class="far fa-comment"></i>3</li>
                                            <li><i class="far fa-clock"></i>3 min Read</li>
                                        </ul>
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem the industry's standard dummy text ever since the
                                            when an unknown printer took a galley of type and scrambled it to make a type spe has been the industry's standard dummy text</p>
                                    </div>
                                </article>
                                <article class="tx-post-item tx-post format-standard mt-50">
                                    <div class="post-thumb">
                                        <a href="news-single.html"><img src="{% static 'assets/img/news/img_08.jpg' %}" alt=""></a>
                                        <div class="post-date">
                                            24 <br> <span>Feb</span>
                                        </div>
                                    </div>
                                    <div class="post-content mt-25">
                                        <ul class="post-tags post-tags--2 ul_li mb-15">
                                            <li><span># Tags</span></li>
                                            <li><a href="#!">Links</a></li>
                                            <li><a href="#!">Brave</a></li>
                                            <li><a href="#!">Brave</a></li>
                                        </ul>
                                        <h2 class="post-title border-effect"><a href="news-single.html">Hoya Vision USA: Using Inbound Blogs and Emails for</a></h2>
                                        <ul class="post-meta ul_li mt-10">
                                            <li>
                                                <div class="post-meta__author ul_li">
                                                    <div class="avatar">
                                                        <img src="{% static 'assets/img/avatar/img_02.jpg' %}" alt="">
                                                    </div>
                                                    <span>Alaxandar / <span class="year">4 year</span></span>
                                                </div>
                                            </li>
                                            <li><i class="far fa-comment"></i>3</li>
                                            <li><i class="far fa-clock"></i>3 min Read</li>
                                        </ul>
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem the industry's standard dummy text ever since the
                                            when an unknown printer took a galley of type and scrambled it to make a type spe has been the industry's standard dummy text</p>
                                    </div>
                                    
                                    
                                </article>
                                <article class="tx-post-item tx-post format-video mt-50">
                                    <div class="post-thumb">
                                        <a href="news-single.html"><img src="{% static 'assets/img/news/img_09.jpg' %} " alt=""></a>
                                        <div class="post-date">
                                            24 <br> <span>Feb</span>
                                        </div>
                                        <a href="https://www.youtube.com/watch?v=cRXm1p-CNyk" class="popup-video"><i class="fas fa-play"></i></a>
                                    </div>
                                    <div class="post-content mt-25">
                                        <ul class="post-tags post-tags--2 ul_li mb-15">
                                            <li><span># Tags</span></li>
                                            <li><a href="#!">Links</a></li>
                                            <li><a href="#!">Brave</a></li>
                                            <li><a href="#!">Brave</a></li>
                                        </ul>
                                        <h2 class="post-title border-effect"><a href="news-single.html">Finally found a work computer setup That’s practically perf</a></h2>
                                        <ul class="post-meta ul_li mt-10">
                                            <li>
                                                <div class="post-meta__author ul_li">
                                                    <div class="avatar">
                                                        <img src="{% static 'assets/img/avatar/img_02.jpg' %}" alt="">
                                                    </div>
                                                    <span>Alaxandar / <span class="year">4 year</span></span>
                                                </div>
                                            </li>
                                            <li><i class="far fa-comment"></i>3</li>
                                            <li><i class="far fa-clock"></i>3 min Read</li>
                                        </ul>
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem the industry's standard dummy text ever since the
                                            when an unknown printer took a galley of type and scrambled it to make a type spe has been the industry's standard dummy text</p>
                                    </div>
                                    
                                    
                                </article>
                                <article class="tx-post-item tx-post format-standard mt-50">
                                    <div class="post-thumb">
                                        <a href="news-single.html"><img src="{% static 'assets/img/news/img_10.jpg' %}" alt=""></a>
                                        <div class="post-date">
                                            24 <br> <span>Feb</span>
                                        </div>
                                    </div>
                                    <div class="post-content mt-25">
                                        <ul class="post-tags post-tags--2 ul_li mb-15">
                                            <li><span># Tags</span></li>
                                            <li><a href="#!">Links</a></li>
                                            <li><a href="#!">Brave</a></li>
                                            <li><a href="#!">Brave</a></li>
                                        </ul>
                                        <h2 class="post-title border-effect"><a href="news-single.html">To engage prospects, we targeted eye professionals with</a></h2>
                                        <ul class="post-meta ul_li mt-10">
                                            <li>
                                                <div class="post-meta__author ul_li">
                                                    <div class="avatar">
                                                        <img src="{% static 'assets/img/avatar/img_02.jpg' %}" alt="">
                                                    </div>
                                                    <span>Alaxandar / <span class="year">4 year</span></span>
                                                </div>
                                            </li>
                                            <li><i class="far fa-comment"></i>3</li>
                                            <li><i class="far fa-clock"></i>3 min Read</li>
                                        </ul>
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem the industry's standard dummy text ever since the
                                            when an unknown printer took a galley of type and scrambled it to make a type spe has been the industry's standard dummy text</p>
                                    </div>
                                    
                                    
                                </article>
                                <div class="pagination_wrap pt-50">
                                    <ul>
                                        <li><a href="#"><i class="fal fa-angle-double-left"></i></a></li>
                                        <li><a href="#" class="current_page">01</a></li>
                                        <li><a href="#">02</a></li>
                                        <li><a href="#"><i class="fal fa-ellipsis-h"></i></a></li>
                                        <li><a href="#">08</a></li>
                                        <li><a href="#"><i class="fal fa-angle-double-right"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4">
                            <div class="blog-sidebar mt-50">
                                <div class="widget mt-40">
                                    <h2 class="widget__title">
                                        <span>Search</span>
                                    </h2>
                                    <form class="widget__search" action="#">
                                        <input type="text" placeholder="Search...">
                                        <button><i class="far fa-search"></i></button>
                                    </form>
                                </div>
                                <div class="widget mt-40">
                                    <h2 class="widget__title">
                                        <span>Stay Connected</span>
                                    </h2>
                                    <ul class="widget__social mt-25">
                                        <li>
                                            <div class="left-text ul_li">
                                                <span class="icon"><i class="fab fa-facebook-f"></i></span>
                                                <span>Facebook</span>
                                            </div>
                                            <a href="#!">Follow</a>
                                        </li>
                                        <li>
                                            <div class="left-text ul_li">
                                                <span class="icon"><i class="fab fa-twitter"></i></span>
                                                <span>Twitter</span>
                                            </div>
                                            <a href="#!">Follow</a>
                                        </li>
                                        <li>
                                            <div class="left-text ul_li">
                                                <span class="icon"><i class="fab fa-instagram"></i></span>
                                                <span>Instagram</span>
                                            </div>
                                            <a href="#!">Follow</a>
                                        </li>
                                        <li>
                                            <div class="left-text ul_li">
                                                <span class="icon"><i class="fab fa-youtube"></i></span>
                                                <span>Youtube</span>
                                            </div>
                                            <a href="#!">Subscribe</a>
                                        </li>
                                        <li>
                                            <div class="left-text ul_li">
                                                <span class="icon"><i class="fab fa-pinterest"></i></span>
                                                <span>Pinterest</span>
                                            </div>
                                            <a href="#!">Follow</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="widget mt-40">
                                    <div class="widget__post">
                                        <h2 class="widget__title">
                                            <span>Hot Topics</span>
                                        </h2>
                                        <div class="widget__post-slide tx-arrow">
                                            <div class="post-item">
                                                <div class="ul_li tx-post">
                                                    <div class="post-thumb">
                                                        <a href="news-single.html"><img src="{% static 'assets/img/news/img_11.jpg' %}" alt=""></a>
                                                        <span class="post-number">01</span>
                                                    </div>
                                                    <div class="post-content">
                                                        <a class="cat" href="#!">Sports</a>
                                                        <h4 class="post-title border-effect-2"><a href="#!">Severance Nightmare Visi Of office Life</a></h4>
                                                    </div>
                                                </div>
                                                <div class="ul_li tx-post">
                                                    <div class="post-thumb">
                                                        <a href="news-single.html"><img src="{% static 'assets/img/news/img_12.jpg' %}" alt=""></a>
                                                        <span class="post-number">02</span>
                                                    </div>
                                                    <div class="post-content">
                                                        <a class="cat" href="#!">Sports</a>
                                                        <h4 class="post-title border-effect-2"><a href="#!">Severance Nightmare Visi Of office Life</a></h4>
                                                    </div>
                                                </div>
                                                <div class="ul_li tx-post">
                                                    <div class="post-thumb">
                                                        <a href="news-single.html"><img src="{% static 'assets/img/news/img_13.jpg' %}" alt=""></a>
                                                        <span class="post-number">03</span>
                                                    </div>
                                                    <div class="post-content">
                                                        <a class="cat" href="#!">Sports</a>
                                                        <h4 class="post-title border-effect-2"><a href="#!">Severance Nightmare Visi Of office Life</a></h4>
                                                        
                                                    </div>
                                                </div>
                                                <div class="ul_li tx-post">
                                                    <div class="post-thumb">
                                                        <a href="news-single.html"><img src="{% static 'assets/img/news/img_14.jpg' %}" alt=""></a>
                                                        <span class="post-number">04</span>
                                                    </div>
                                                    <div class="post-content">
                                                        <a class="cat" href="#!">Sports</a>
                                                        <h4 class="post-title border-effect-2"><a href="#!">Severance Nightmare Visi Of office Life</a></h4>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="post-item">
                                                <div class="ul_li tx-post">
                                                    <div class="post-thumb">
                                                        <a href="news-single.html"><img src="{% static 'assets/img/news/img_11.jpg' %}" alt=""></a>
                                                        <span class="post-number">01</span>
                                                    </div>
                                                    <div class="post-content">
                                                        <a class="cat" href="#!">Sports</a>
                                                        <h4 class="post-title border-effect-2"><a href="#!">Severance Nightmare Visi Of office Life</a></h4>
                                                    </div>
                                                </div>
                                                <div class="ul_li tx-post">
                                                    <div class="post-thumb">
                                                        <a href="news-single.html"><img src="{% static 'assets/img/news/img_12.jpg' %}" alt=""></a>
                                                        <span class="post-number">02</span>
                                                    </div>
                                                    <div class="post-content">
                                                        <a class="cat" href="#!">Sports</a>
                                                        <h4 class="post-title border-effect-2"><a href="#!">Severance Nightmare Visi Of office Life</a></h4>
                                                    </div>
                                                </div>
                                                <div class="ul_li tx-post">
                                                    <div class="post-thumb">
                                                        <a href="news-single.html"><img src="{% static 'assets/img/news/img_13.jpg' %}" alt=""></a>
                                                        <span class="post-number">03</span>
                                                    </div>
                                                    <div class="post-content">
                                                        <a class="cat" href="#!">Sports</a>
                                                        <h4 class="post-title border-effect-2"><a href="#!">Severance Nightmare Visi Of office Life</a></h4>
                                                        
                                                    </div>
                                                </div>
                                                <div class="ul_li tx-post">
                                                    <div class="post-thumb">
                                                        <a href="news-single.html"><img src="{% static 'assets/img/news/img_14.jpg' %}" alt=""></a>
                                                        <span class="post-number">04</span>
                                                    </div>
                                                    <div class="post-content">
                                                        <a class="cat" href="#!">Sports</a>
                                                        <h4 class="post-title border-effect-2"><a href="#!">Severance Nightmare Visi Of office Life</a></h4>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="post-item">
                                                <div class="ul_li tx-post">
                                                    <div class="post-thumb">
                                                        <a href="news-single.html"><img src="{% static 'assets/img/news/img_11.jpg' %}" alt=""></a>
                                                        <span class="post-number">01</span>
                                                    </div>
                                                    <div class="post-content">
                                                        <a class="cat" href="#!">Sports</a>
                                                        <h4 class="post-title border-effect-2"><a href="#!">Severance Nightmare Visi Of office Life</a></h4>
                                                    </div>
                                                </div>
                                                <div class="ul_li tx-post">
                                                    <div class="post-thumb">
                                                        <a href="news-single.html"><img src="{% static 'assets/img/news/img_12.jpg' %}" alt=""></a>
                                                        <span class="post-number">02</span>
                                                    </div>
                                                    <div class="post-content">
                                                        <a class="cat" href="#!">Sports</a>
                                                        <h4 class="post-title border-effect-2"><a href="#!">Severance Nightmare Visi Of office Life</a></h4>
                                                    </div>
                                                </div>
                                                <div class="ul_li tx-post">
                                                    <div class="post-thumb">
                                                        <a href="news-single.html"><img src="{% static 'assets/img/news/img_13.jpg' %}" alt=""></a>
                                                        <span class="post-number">03</span>
                                                    </div>
                                                    <div class="post-content">
                                                        <a class="cat" href="#!">Sports</a>
                                                        <h4 class="post-title border-effect-2"><a href="#!">Severance Nightmare Visi Of office Life</a></h4>
                                                        
                                                    </div>
                                                </div>
                                                <div class="ul_li tx-post">
                                                    <div class="post-thumb">
                                                        <a href="news-single.html"><img src="{% static 'assets/img/news/img_14.jpg' %}" alt=""></a>
                                                        <span class="post-number">04</span>
                                                    </div>
                                                    <div class="post-content">
                                                        <a class="cat" href="#!">Sports</a>
                                                        <h4 class="post-title border-effect-2"><a href="#!">Severance Nightmare Visi Of office Life</a></h4>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="widget mt-40">
                                    <div class="widget__add">
                                        <div class="content">
                                            <span>Trending</span>
                                            <h3>2021 <span>Laptop</span> <br> Collection</h3>
                                            <a class="thm-btn no-icon" href="#!">
                                                <span class="btn-wrap"> 
                                                    <span>Buy Now</span>
                                                    <span>Buy Now</span>
                                                </span>
                                            </a>
                                        </div>
                                        <div class="image">
                                            <img class="add_img" src="{% static 'assets/img/product/img_177.png' %}" alt="">
                                            <img class="add_shape" src="{% static 'assets/img/shape/add_shape.png' %}" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="widget mt-40">
                                    <h2 class="widget__title">
                                        <span>Twitter Feeds</span>
                                    </h2>
                                    <ul class="widget__twitter-feeds">
                                        <li>
                                            <span class="icon"><i class="fab fa-twitter"></i></span>
                                            <div class="content">
                                                <div class="head ul_li">
                                                    <span class="twitter-api">#Twitter API</span>
                                                    <span class="user-name">@ twitterapi</span>
                                                </div>
                                                <p>(Berkeley DataBase) An open source system that uses "<a href="#!">www.twitter/de.com</a>"</p>
                                                <span class="date"><i class="far fa-calendar-alt"></i>8 jul 2022</span>
                                            </div>
                                        </li>
                                        <li>
                                            <span class="icon"><i class="fab fa-twitter"></i></span>
                                            <div class="content">
                                                <div class="head ul_li">
                                                    <span class="twitter-api">#Twitter API</span>
                                                    <span class="user-name">@ twitterapi</span>
                                                </div>
                                                <p>(Berkeley DataBase) An open source system that uses "<a href="#!">www.twitter/de.com</a>"</p>
                                                <span class="date"><i class="far fa-calendar-alt"></i>8 jul 2022</span>
                                            </div>
                                        </li>
                                        <li>
                                            <span class="icon"><i class="fab fa-twitter"></i></span>
                                            <div class="content">
                                                <div class="head ul_li">
                                                    <span class="twitter-api">#Twitter API</span>
                                                    <span class="user-name">@ twitterapi</span>
                                                </div>
                                                <p>(Berkeley DataBase) An open source system that uses "<a href="#!">www.twitter/de.com</a>"</p>
                                                <span class="date"><i class="far fa-calendar-alt"></i>8 jul 2022</span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="widget mt-40">
                                    <h2 class="widget__title">
                                        <span>Category</span>
                                    </h2>
                                   <ul class="widget__category list-unstyled">
                                        <li><a href="#!">Motorbike parts<i class="far fa-chevron-right"></i></a></li>
                                        <li><a href="#!">Car parts Name<i class="far fa-chevron-right"></i></a></li>
                                        <li><a href="#!">Bicycle Parts<i class="far fa-chevron-right"></i></a></li>
                                        <li><a href="#!">Taxi bike parts<i class="far fa-chevron-right"></i></a></li>
                                        <li><a href="#!">Double decker bus<i class="far fa-chevron-right"></i></a></li>
                                        <li><a href="#!">Tractor parts<i class="far fa-chevron-right"></i></a></li>
                                        <li><a href="#!">Bull Dozer<i class="far fa-chevron-right"></i></a></li>
                                   </ul>
                                </div>
                                <div class="widget mt-40">
                                    <h2 class="tx-section-heading mb-20">
                                        <span>Tags</span>
                                    </h2>
                                    <div class="tagcloud">
                                        <a href="#!">symphony</a>
                                        <a href="#!">nokia</a>
                                        <a href="#!">nokia</a>
                                        <a href="#!">landing page</a>
                                        <a href="#!">Alcatel</a>
                                        <a href="#!">Samsung</a>
                                        <a href="#!">Oppos</a>
                                        <a href="#!">Oppos</a>
                                        <a href="#!">I phone Pro 12</a>
                                        <a href="#!">poco X3</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- blog end -->
{%endblock%}